# Ignore all files in 'build/' directory
build/

# Ignore hidden files and folders starting with '.' (e.g., cache files, VCS metadata)
.*/
.git/
.hg/
.svn/

# Typical nodejs/javascript files to ignore
node_modules/
*.log
*.cache
*.DS_Store
*.idea
thumbs.db

# Ignore package-lock and yarn.lock if they exist
yarn.lock
package-lock.json

# You can also ignore other common file extensions for your project's language/tools
*.pyc
*.class
*.o
*.swp